/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@define-color accent-bg #e6e6e6;
@define-color accent-fg #464646;


@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* ----------- *
 * Base styles *
 * ----------- */

/* Reset all styles. */
* {
    border: none;
    border-radius: 5px;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: FantasqueSansMono Nerd Font, monospace;
    font-size: 18px;
}

#waybar {
    color: @theme_text_color;
    background: @theme_base_color;
    border-top: 0.2rem solid @borders;
}

/* Adjust margins and padding for all modules. */
#tray,
#clock,
#network,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#language,
#idle_inhibitor {
    margin: 0.25rem 0.3rem 0 0;
    padding: 0.5rem 0.5rem;
}

#workspaces {
    margin-top: 0.25rem;
}
#workspaces button {
    padding: 0.2rem 0.3rem;
}
#mode,
#window {
    margin: 0.25rem 0 0 0.3rem;
    padding: 0.5rem 0.5rem;
}


/* ------------- *
 * Module styles *
 * ------------- */

#mode {
    color: @theme_unfocused_selected_fg_color;
    background-color: @theme_unfocused_selected_bg_color;
    border-bottom: 0.3rem;
}

#window {
    font-size: 16px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.warning {
    color: @warning_color;
}
#battery.critical {
    color: @error_color;
}
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: @warning_color;
}

#pulseaudio.muted {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_bg_color;
}

#workspaces button.urgent {
    border-color: @warning_color;
    color: @warning_color;
}
#workspaces button.focused {
    border: 2px solid @borders;
    background-color: @insensitive_base_color;
}

#idle_inhibitor.activated {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @warning_color;
}
