/* ============================================================== *
 * Waybar configuration                                           *
 * See Also: https://github.com/Alexays/Waybar/wiki/Configuration *
 * ============================================================== */


/* --------- *
 * Keyframes *
 * --------- */

@keyframes blink-warning {
    70% { color: @theme_bg_color; }

    to {
        color: @theme_bg_color;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% { color: @theme_bg_color; }

    to {
        color: @theme_bg_color;
        background-color: @error_color;
    }
}


/* ----------- *
 * Base styles *
 * ----------- */

/* Reset all styles. */
* {
    border: none;
    border-radius: 0.4rem;
    font-family: NotoSans Nerd Font, sans-serif;
    font-size: 1.1rem;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    color: @theme_text_color;
    background-color: @theme_base_color;
    border-top: 0.2rem solid @borders;
}

/* Adjust margins and padding for all modules. */
.modules-left,
.modules-center,
.modules-right { margin-top: 0.2rem; }

#tray,
#clock,
#network,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#language,
#idle_inhibitor { padding: 0.4rem; }

#workspaces button { padding: 0.4rem 0.2rem; }
#mode,
#window { padding: 0.4rem; }


/* ------------- *
 * Module styles *
 * ------------- */

#mode {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
    border-bottom: 0.3rem;
}

#window { font-size: 1rem; }

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.warning { color: @warning_color; }
#battery.critical { color: @error_color; }
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio.muted {
    color: @theme_unfocused_fg_color;
    background-color: @theme_unfocused_bg_color;
}

#workspaces button.urgent {
    color: @warning_color;
    border-color: @warning_color;
}
#workspaces button.focused {
    background-color: @insensitive_bg_color;
    border: 2px solid @borders;
}

#idle_inhibitor.activated {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention {
    background-color: @warning_color;
    -gtk-icon-effect: highlight;
}
