[Unit]
Description=Set lowest possible brightness
Documentation=man:brightnessctl(1)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/brightnessctl s 15%

[Install]
WantedBy=multi-user.target
