[Unit]
Description=Enable NVIDIA card
DefaultDependencies=no

[Services]
Type=oneshot
ExecStart=/bin/sh -c 'echo ON > /proc/acpi/bbswitch'

[Install]
WantedBy=shutdown.target
