[Unit]
Description=Lock session of user %I on system suspend
Documentation=man:i3lock-color(1)
Documentation=man:swaylock(1)
Before=sleep.target

[Service]
User=%i
Type=forking
ExecStart=/home/%i/.scripts/systemd_scripts/lock-on-suspend.sh
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
