[Unit]
Description=Lock Wayland session of user %I when lid closed (using swaylock)
Documentation=man:swaylock(1)
Before=sleep.target

[Service]
User=%i
Type=forking
ExecStart=/home/%i/.scripts/systemd_scripts/swaylock-on-suspend.sh
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
