[Unit]
Description=Automatically sync time using NTP on startup
Documentation=man:timedatectl
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/systemctl --no-block restart systemd-networkd.service

[Install]
WantedBy=multi-user.target
